#maindiv{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(228, 233, 236);



}

#div1{
    
    width:100%;
    margin: auto;
    background-color:rgb(118, 196, 158);
    border-style: solid;
    border-color: rgb(25, 203, 9) ;


}
#div2{
    width: 100%;
    margin: auto;
    background-color:white;
    padding: 10px;

  



}
#div3{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-style: solid;
    border-color: #008A8C;
    background-color:aquamarine;
    display: inline-block;


}
#div4{
    border-style: solid;
    border-color: #3c0bb8;
    width: 10%;
    margin: auto;
    padding: 10px;
    background-color:aquamarine;
    display: inline-block
   

}

#div5{
    width: 80%;
    margin: auto;
    padding: 10px;
    display: inline-block;
    border-style: solid;
    border-color: #008A8C;
    background-color:aquamarine
   

}